{% extends "restaurante/base.html" %} {% load static %} {% block content %}

<ul class="cards__lista">
    {% if cardapio %}
    {% for item in cardapio %}
    <li class="card">
        <a href="">
        {% if item.imagem == "" or item.imagem == null %}
            <img
                class="card__imagem"
                src="{% static 'assets/images/default.jpg' %}"
                alt="foto"
            />
        {% else %}
            <img
                class="card__imagem"
                src="{{ item.imagem.url }}"
                alt="foto"
            />
        {% endif %}
        </a>
        <span class="card__tag">{{ item.categoria }}</span>
        <div class="card__info">
            <p class="card__titulo">{{ item.nome }} - R${{ item.preco }}</p>
            <div class="card__texto">
                <p class="card__descricao">{{ item.descricao }}</p>
            </div>
        </div>
    </li>
    {% endfor %}
    {% else %}
    {% endif %}
</ul>

{% endblock %}
