/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff8f0;
  color: #333;
  line-height: 1.6;
  padding: 0px;
}

header {
  text-align: center;
  background-color: #f4a261;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

header h1 {
  color: #fff;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

section {
  margin-bottom: 30px;
}

section h2 {
  color: #e76f51;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  background-color: #f4a261;
  border-radius: 10px;
}

footer p {
  margin: 10px 0;
  color: #fff;
}

.social-icons a {
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
  transition: transform 0.3s ease;
  display: inline-block;
}

.social-icons a:hover {
  transform: scale(1.2);
}
